<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Information -->
    <title>Walr.us</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="/styles/layout.scss" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<!--     <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<!--     <link rel="stylesheet" href="/styles/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new-tweet.css" type="text/css" />
    <link rel="stylesheet" href="/styles/tweet-area.css" type="text/css" /> -->
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
 </head>

<body>
    <!-- Top nav bar (fixed) -->
    <nav class="nav-bar">
        <img class="logo" src="/images/walrus.png">
        <span class="header">walr.us</span>
        <input type="text" name="search" placeholder="Search..">
        <button class="compose" type='button'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Search
        </button>
    </nav>
    <!-- Page-specific (main) <content></content>tent here -->
    <main class="container">
        <section class="new-post">
            <h2 class="headline">Submit Resource</h2>
            <form class="postarea" method="POST" action="/posts/"> <!--/posts form handler not yet defined/  -->
                <textarea class="postbox" name="text" placeholder="Learning Resource"></textarea><br>
                Title: <input class="title" type="text" name="Title">
                Description: <input class="description" type="text" name="Description"><br>
                <input class="submit" type="submit" value="post">  
            </form>
        </section>
        <section class="assets-area">
        </section>
    </main>
</body>
</html>