<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Information -->
  <title>Walr.us</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/asset.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-asset.css" type="text/css" />
  <link rel="stylesheet" href="/styles/rating.min.css">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/animations.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo"><img src="/images/walrus8.png" alt="walrus"/></a>
      <span class="header">Walr.us</span>
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
     <ul class="right hide-on-med-and-down">
       <li><a class="waves-effect waves-light btn add-resource-button">Add Resource</a></li>
       <li><div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div></li>
     </ul>
    </div>
  </nav>
  <!-- Page-specific (main) <content></content> here -->
  <div class="container">
    <div class="new-post z-depth-4">
      <div class="row">
        <div class="col s3">
        </div>
        <form class="col s9 postarea" method="POST" action="/resource/${FB.getAuthResponse().userID}/new">
          <div class="row">
            <div class="input-field col s4 center-align">
              <input id="input-url" type="text" class="validate" name="url" data-length="50" required>
              <label for="input_text">Resource Link</label>
            </div>
            <div class="input-field col s4 center-align">
              <input id="input-title" type="text" class="validate" data-length="30" required>
              <label for="input_text">Title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4 center-align">
              <input id="input-description" type="text" class="validate" name="url" data-length="120" required>
              <label for="input_text">Description</label>
            </div>
            <div class="input-field col s4 center-align">
              <label for="textarea1">Tags</label>
              <div class="chips" name="tags"></div>
              </div>
            </div>
            <button class="btn waves-effect waves-light right-align submit-button" type="submit" name="action">Submit
            <i class="material-icons right"></i>
            </button>
          </div>
            <span>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
            </span>
        </form>
    </div>
<!--         <span class="c-rating" id="counter0"></span>
    <span class="c-rating" id="counter1"></span>
    <span class="c-rating" id="counter2"></span> -->

    <div class="row section assets-area" id="asset-area">

    </div>
  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="/scripts/rating.min.js"></script>
</body>
</html>
