<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Information -->
  <title>Walr.us</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/asset.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new-asset.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/animations.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="/images/walrus8.png" alt="walrus"/></a>
     <ul class="right hide-on-med-and-down">
       <li><a class="waves-effect waves-light btn add-resource-button">Add Resource</a></li>
       <li><div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div></li>
     </ul>
    </div>
    <!-- <img class="logo" src="/images/walrus.png">
    <span class="header">walr.us</span>
    <input type="text" name="search" placeholder="Search..">
    <button class="compose" type='button'><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Search
    </button> -->
  </nav>
  <!-- Page-specific (main) <content></content> here -->
  <div class="container">
    <div class="row new-post">
      <div class="col s4">
      </div>
    <div class="row">
      <form class="col s6">
        <div class="row">
          <div class="input-field col s6">
            <input id="url_text" type="text" data-length="50">
            <label for="input_text">Resource Link</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="title_text" type="text" data-length="30">
            <label for="input_text">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <textarea id="description_text" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea1">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label id="tags_text" for="textarea1">Tags</label>
            <div class="chips"></div>
          </div>

        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right"></i>
        </button>
      </form>
    </div>
      <!-- <div class="col s6 center-align">
        <h3 class="headline">Submit Resource</h3>
        <form class="postarea" method="POST" action="/posts/">
            <textarea class="postbox" name="text" placeholder="Learning Resource"></textarea><br>
            <div> Title: <input class="title" type="text" name="Title"></div>
            <div> Description: <input class="description" type="text" name="Description"><br></div>
            <div> Tags: <input class="tags" type="text" name="tags"><br></div>
            <div><input class="submit" type="submit" value="post"></div>
        </form>
      </div> -->
    </div>
    <div class="row section assets-area" id="asset-area">
    </div>
  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>
