.assets-area {
  .responsive-img {
    width: 100%
  }
  .card-action {
    display: flex;
    padding: 5px 24px;
  }
  .card.medium {
    height: 450px;
    .card-image {
      max-height: 80%;
    }
  }
}

.container .row {
  margin-left: -10rem;
  margin-right: -10rem;
}
