nav {
  background-color: rgba(63, 81, 181, 0.47);
  .brand-logo img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1.5rem;
    border-color: orange;
    border-style: solid;
    margin-left: 1rem;
    margin-top: 0.3rem;
    border-width: 0.10rem;
  }
  .btn {
    background-color: rgb(255, 155, 0);
  }
}
