nav {
  background-color: rgba(63, 81, 181, 0.47);
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    .header {
      margin-left: 6rem;
      font-size: 3rem;
    }
  }
  .input-field {
    width: 35rem;
    // form {
    //   margin-left: 20rem;
    // }
  }
  .brand-logo img {
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    border-style: solid;
    margin-left: 1rem;
    margin-top: 0.1rem;
    border-width: 0.10rem;
  }
  .btn {
    background-color: rgb(255, 155, 0);
  }
  .fb-login-button {
    display: flex;
    margin-top: 11px;
    margin-right: 20px;
  }
}
