.new-post {
  .input-field {
    input[type=text] {
      border-bottom: 1px solid #FFC107;
    }
    #textarea1 {
      border-bottom: 1px solid #FFC107;
    }
    label {
      color: #FFC107;
    }
  }

}
